body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 180px;
    margin-left: 25%;
    margin-right: 25%;

    font-family: Work Sans, sans-serif;
}

@media screen and (max-width: 1400px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 50px 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;

    font-family: Work Sans, sans-serif;
    font-size: 2em;

    z-index: 9999;
}

.navbar-ul {
    display: flex;
    justify-content: right;
    top: 0;
    margin: 0;
    padding: 0;
    width: 50%;
}

.navbar li {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
}

.navbar li:first-child {
    position: absolute;
    left: 20px;
    font-weight: 600;
}

.navbar li a {
    text-align: center;
    color: #333;
    text-decoration: none;
}

.navbar li a:hover {
    color: #888;
}

/* ********************************** */
/* MOBILE MENU */
/* ********************************** */

.mobile-static {
    list-style-type: none;
    margin: 0;
    padding: 50px 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 80%;

    font-family: Work Sans, sans-serif;
    font-size: 2em;

    display: none;
}

.mobile-static ul {
    display: flex;
    justify-content: right;
    top: 0;
    margin: 0;
    padding: 0;
}

.mobile-static li {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
}

.mobile-static li:first-child {
    position: absolute;
    left: 0;
    font-weight: 600;
    text-align: left;
    z-index: 1;
}
.mobile-static li:last-child {
    z-index: 10;
}

.mobile-static li a:hover {
    color: #888;
}

.mobile-navbar-button {
    display: none;
}

@media screen and (max-width: 1400px) {
    .mobile-navbar {
        display: block;
    }
    
    .mobile-navbar-button {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        text-align: left;
    }

    .mobile-static {
        display: block;
    }
}

.mobile-navbar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mobile-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-navbar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mobile-navbar ul li a:hover {
    color: #f1f1f1;
}

.close-navbar-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* ********************************** */
/* TEXT */
/* ********************************** */

h1 {
    font-size: 3em;
    text-align: left;
    margin-top: 50px;
    font-weight: 500;
}

p {
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: orangered;
}


.image-grid {
    display: flex;
    flex-direction: column;
}

.image-grid a {
    text-decoration: none;
}

.image-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; /* Add some space between the items */
    background-color: #f8f8f8;
    padding: 20px;

    color: #000;
}

/* Date */
.image-item .date {
    display: block;
    position: absolute;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #333;
    color: #fff;

    padding: 10px;
    margin-left: -10px;

    z-index: 99;
}

.image-item .cover-image {
    width: 30%;
    height: 30%;
    object-fit: cover;
    margin-right: 20px;
}

/* Text Section */
.image-item .text-section {
    width: 70%;
    padding-left: 10px; /* Add some space between the image and the text */
    font-size: 12px;
}

/* Title in the Text Section */
.image-item .text-section .title {
    font-size: 2.5em;
    font-weight: bold;
}
.card-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}
.card-info table td {
    padding: 5 0 5 0;
    padding-top: -10px;
}
.card-info table tr:nth-child(even) * {
    background-color: #e5e7eb;
}

/* ********************************** */
/* FOOTER */
/* ********************************** */

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    color: #333;
    height: auto;

    font-family: Work Sans, sans-serif;
}

.footer-right, .footer-left {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1400px) {
    footer {
        flex-direction: row;
        height: 200px;
    }
    .footer-right, .footer-left {
        width: 50%;
        text-align: right;
    }
    .footer-left {
        text-align: left;
    }

    .footer-right {
        align-items: flex-end;
    }
    .footer-right > .email-text {
        display: block !important;
    }
}

footer h3 {
    font-size: 2em;
}

.footer-left h3, .footer-right p {
    margin: 0;
    padding: 0;
}

.footer-left p {
    margin-bottom: 10px;
    font-size: 1.25em;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;
}

.footer-right img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.footer-right > .email-text {
    font-size: 1.5em;
    font-weight: 500;
    color: orangered;
    display: none;
}

.education-grid {
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add some space between the items */
}

.achievement {
    background-color: #f8f8f8; /* Add a background color */
    padding: 10px;

    font-weight: 600;
    font-size: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievement img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.institution {
    padding: 10px;
    margin-left: 20px;

    font-size: 400;
    font-size: 1.25em;
}

/* **** */

.about-me-grid {
    display: flex;
    flex-direction: column;
}

.about-me-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add some space between the items */
}

.about-me-achievement {
    background-color: #f8f8f8; /* Add a background color */
    padding: 10px;

    font-weight: 600;
    font-size: 1.75em;
}

.about-me-description {
    padding: 10px;
    margin-left: 20px;

    font-size: 400;
    font-size: 1.5em;
}

.contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: 0;
    margin-right: auto;
    padding: 0rem 0rem 1rem 1rem;
}

.contact-description {
    color: rgb(107 114 128);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid orangered;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: orangered;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    border: 0;
}

.portfolio-header {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.portfolio-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio-header img {
    width: 100%;
    height: auto;
}

.portfolio-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.portfolio-info table {
    width: 100%;
    font-size: 1.25em;
    border-collapse: collapse;
}
.portfolio-info table td {
    padding: 10px;
}
.portfolio-info table td:first-child {
    font-weight: bold;
    background-color: #f8f8f8;
    text-align: right;
}

.portfolio-description {
    width: 100%;
    padding: 20px;
}
.portfolio-description p, li {
    margin-top: 10px;
    color: #333;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    margin-left: 20px;
    text-indent: -5px;
}

.portfolio-description h2 {
    font-weight: 600;
    background-color: #f3f3f3;
    padding: 10px 0px;

    font-size: 28px;
    padding-left: 20px;

    margin-bottom: -5px;
}
.portfolio-description .iframe-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30%;
}

.portfolio-description .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.portfolio-description img {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}